@{
    ViewData["Title"] = "Api";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Style.css" />
</head>
<div style="margin-top:2%">
    <ul class="list-group">

        <li class="list-group-item" style="background-color:lightgreen">
            <p style="font-weight:bold">GET :</p> /api/Data
            <form method="get" action="~/api/Data/GetAll">
                <input type="submit" value="Try" />
            </form>
        </li>
        <hr />
        <li class="list-group-item" style="background-color:lightgreen">
            <p style="font-weight:bold">GET :</p> /api/Data/{ServerName}
            <form method="get" action="~/api/Data/GetById/ping6.online.net">
                <input type="submit" value="Try" />
            </form>
        </li>
    </ul>
    
</div>