@{
    ViewData["Title"] = "Api";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Style.css" />
</head>
<div style="margin-top:2%">
    <ul class="list-group">

        <li class="list-group-item" style="background-color:lightgreen">
            <p style="font-weight:bold">GET :</p> /api/Data
            <a asp-area="" asp-controller="Data" asp-action="Get" class="navbar-brand" style="position:absolute;margin-top:-1.5%">Try</a>
        </li>

    </ul>
    
</div>